<% breadcrumb :article, @article %>
<div class="example">
  <div class="grid">
    <div class="row">
      <div class="cell">
        <h5>Nothing</h5>
        <ul class="step-list">
          <h3 class="no-margin-top"><%= @article.title %></h3>
          <hr class="bg-red"></hr>
          <div>
            <h4>
              <%= @article.body %>
            </h4>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
