<% if flash.any? %>
  <div class="grid">
    <div class="row cells4">
      <% flash.each do |k, v| %>
        <div class="notify <%= k %>">
          <span class="notify-closer"></span>
          <span class="notity-success"></span>
          <span class="notify-text">
            <%= v %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
