// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  //background-image: image-url("bg.jpg");
}

.container {
  background: white;
  padding: 0px 10px;
  min-height: 100%;
}
