<footer>
  <div class="bottom-menu-wrapper">
    <ul class="horizontal-menu compact">
      <li><h4>&copy; 2016 Sven All Rights Reserved.</h4></li>
      <li class="place-right"><a href="mailto: sven199109@gmail.com"><%= t('site.contact') %></a></li>
      <li class="place-right"><a href="https://github.com/sven199109/tribe.git"><%= t('site.source_code') %></a></li>
      <li class="place-right"><a href="<%= about_path %>"><%= t("site.about") %></a></li>
    </ul>
  </div>
</footer>
