<footer>
  <div class="bottom-menu-wrapper">
    <ul class="horizontal-menu compact">
      <li><h4>&copy; 2016 Sven All Rights Reserved.</h4></li>
      <li class="place-right"><a href="mailto: sven199109@gmail.com">联系我</a></li>
      <li class="place-right"><a href="https://github.com/sven199109/tribe.git">本站源码</a></li>
      <li class="place-right"><a href="<%= about_path %>">关于我</a></li>
    </ul>
  </div>
</footer>
